<div class="c-brand {{custom_c_class}}">
    <a href="" class="btn btn--reset">
        <img src="../../../img/logo.png" alt="" class="img img--auto">
    </a>
    {{> @c-hamburguesa
        custom_hamburguesa_class="ml-2"
        custom_hamburguesa_id="menu-open"
    }}
</div>