.s-controls {
	@extend %transform_05;

	position: fixed;
	z-index: 3;
	width: 100%;
	top: -100rem;
	box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
	-webkit-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
	-moz-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);

	@include breakpoint(desktop) {
		width: 20%;
		height: 100%;
		top: 4.5rem;
		left: calc(-100% + 2rem);
	}
}

.open {
	&-menu {
		.s-controls {
			top: 4.5rem;

			@include breakpoint(desktop) {
				left: 0;
			}
		}
	}
}
