<section class="s-controls {{custom_s_controls_class}}">
    {{> @s-user
        custom_s_class="mt-3"
        custom_foto_class="col-6 col-md-3 col-lg-10 col-xl-8 mx-auto mt-xl-5"
        custom_photo_img_class="img--w img--auto"
        custom_user_class="text-center mt-2"

        cont_user_photo="../../../img/ico_camera.png"
        cont_user_name="James Sanchez"
        cont_user_roll="admin"
        cont_user_mail="james@medtrainer.com"
    }}

    {{> @s-menu
        custom_menu_class="p-0 mt-3"
        custom_btn_class="d-block text-left"
    }}
</section>