<div class="s-create {{custom_s_create_class}}">
    <h3 class="s-create--title text text--color--blue_dark text--size--2 col-12">Create bundle</h3>
    <div class="c-form">
        <div class="form-group">
            <label for="" class="sr-only">Add Bunddle Name</label>
            <input type="text" class="text text--color--blue_gray text--size--3 form-control" placeholder="Add Bunddle Name">
        </div>

        <div class="s-create__tags mb-3">
            <p class="text">Select the videos you want to add to the bundle</p>
            <ul class="list pl-0">
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
                <li class="list__item d-inline-block mb-1">
                    <a href="" class="btn btn--solid btn--color--orange py-1 px-2 text text--color--white text--w--light">Video 01 <i class="icon icon--color--white fas fa-times-circle"></i></a>
                </li>
            </ul>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" name="" id="" value="">
            <label for="" class="form-check-label text text--w--light">Select Video</label>
        </div>

        <div class="form-group">
            <input type="submit" name="" id="" value="Create" class="form-control btn btn--solid btn--color--green_action text text--color--white text--w--light text--size--1-2 px-3 py-2">
            <input type="submit" name="" id="" value="Cancel" class="form-control btn btn--solid btn--color--ice text text--color--black text--w--light text--size--1-2 px-3 py-2">
        </div>
    </div>
</div>