.s-create {
    @include border-radius(0.5rem);

    @extend %transform_05;

    box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
    -webkit-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
    -moz-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
    height: 0;
    opacity: 0;
    overflow: hidden;
    width: calc(100% - 30px);
}
