<div class="c-hamburguesa {{custom_hamburguesa_class}}" id="{{custom_hamburguesa_id}}">
    <span class="item item--uno"></span>
    <span class="item item--dos"></span>
    <span class="item item--tres"></span>
</div>