.c-hamburguesa {
	@extend %transform_05;

	display: inline-block;
	padding: 0.5rem;
	cursor: pointer;
	overflow: hidden;

	.item {
		@extend %transform_07;

		width: 2rem;
		height: 5px;
		background: $color_white;
		margin-bottom: 0.3rem;
		display: block;
	}
}

.open {
	&-menu {
		.c-hamburguesa {
			padding-left: 0;
			margin-left: -0.5rem;

			.item {
				&--dos {
					transform: translateX(-100%);
					opacity: 0;
				}

				&--uno,
				&--tres { width: 100%; }

				&--uno {
					transform: rotate(45deg) translateX(13px);
				}

				&--tres {
					transform: rotate(-45deg) translateX(14px);
				}
			}
		}
	}
}
