<header class="s-header {{custom_s_class}}">
    <div class="row">
        {{> @c-brand custom_c_class="col-auto d-flex flex-wrap align-items-center"}}
        <div class="col-auto ml-auto align-items-center d-flex">
            <a href="" class="btn btn--reset text text--color--white">
                <i class="icon icon--size--1-5 fas fa-power-off"></i>
                <span class="d-none d-md-inline-block ml-3">Logout</span>
            </a>
        </div>
    </div>    
</header>