{{> @s-header 
    custom_s_class="container-fluid bg bg--color--blue py-3"
}}

<div class="general-wrapper container-fluid">
    <div class="general-wrapper--row row">
        {{> @s-controls 
            custom_s_controls_class="px-0 bg bg--color--white"
        }}

        {{> @s-dashboard 
            custom_s_dashboard_class="d-flex flex-wrap py-4 px-3 ml-lg-auto"
        }}
    </div>
</div>

<footer class="container-fluid py-4 bg bg--color--blue_dark">
    <div class="row">
        <p class="text text--color--white mb-0 col-12 text-center">Desarrollador por Cristian Hernandez</p>
    </div>
</footer>