<div class="s-user {{custom_s_class}}">
    {{#if cont_user_photo}}
        <div class="s-user__photo {{custom_foto_class}}">
            <img src="{{cont_user_photo}}" alt="" class="img {{custom_photo_img_class}}">
        </div>
    {{/if}}
    {{#if cont_user_name}}
        <div class="s-user__data {{custom_user_class}}">
            <h2 class="text text--color--black text--size--1-5 mb-1">{{cont_user_name}}</h2>
            {{#if cont_user_roll}}
                <p class="text text--color--blue text-uppercase mb-0">{{cont_user_roll}}</p>
            {{/if}}
            {{#if cont_user_mail}}
                <a href="mailto:{{cont_user_mail}}" target="_blank" class="btn btn--reset text text--color--blue_gray">{{cont_user_mail}}</a>
            {{/if}}
        </div>
    {{/if}}
</div>