.s-menu {
	list-style: none;

	&__item {
		.btn {
			padding: 0.5rem;
			border-left: 0.4rem solid $color_gray_light;
		}

		&.active {
			.btn {
				border-left-color: $color_orange;
				background-color: $color_blue_dark;
				color: $color_white;
			}
		}
	}

	&--sub {
		.s-menu {
			&__item {
				.btn {
					border-left: 1px solid $color_gray_light;
					color: $color_blue_gray;
				}
			}
		}
	}
}
