<ul class="s-menu {{custom_menu_class}}">
   <li class="s-menu__item mb-2 active">
       <a href="" class="btn btn--reset {{custom_btn_class}}">Video Distribution</a>
   </li> 
   <li class="s-menu__item mb-2">
       <a href="" class="btn btn--reset {{custom_btn_class}}">Analytics Dashboard</a>
       <ul class="s-menu s-menu--sub pl-4">
           <li class="s-menu__item">
               <a href="" class="btn btn--reset {{custom_btn_class}}">Monitoring Dashboard</a>
           </li>
           <li class="s-menu__item">
               <a href="" class="btn btn--reset {{custom_btn_class}}">Monitoring Outbound</a>
           </li>
       </ul>
   </li>
   <li class="s-menu__item mb-2">
       <a href="" class="btn btn--reset {{custom_btn_class}}">Bundle Dashboard</a>
   </li> 
</ul>