<div class="s-dashboard {{custom_s_dashboard_class}}">
    {{> @s-options
        custom_s_options_class="mb-4 w-100 d-md-flex flex-md-wrap px-lg-3"
        cont_options_title="Welcome to Orbits!"
    }}

    {{> @s-create
        custom_s_create_class="bg bg--color--white mx-auto"
    }}

    <div class="col-12 d-flex flex-wrap px-0">
        {{> @c-filter
            custom_c_filter_class="col-12"
            cont_filter="Subject filter"
        }}

        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 b-video--checked"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
        {{> @b-video
            custom_b_video_class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
            custom_b_video_vid_class="bg bg--color--blue_dark p-1 position-relative"
            custom_b_video_info="mt-3 p-3 d-flex flex-wrap"

            cont_video_title="How to set up"
            cont_video_subtitle="gl codes, categories and families"
            cont_video_roll="Admin"
            cont_video_time="04:21 min"
        }}
    </div>
</div>