<div class="b-video {{custom_b_video_class}}">
    <div class="b-video__vid {{custom_b_video_vid_class}}">
        <span class="check position-absolute">
            <i class="icon icon--color--white fas fa-check"></i>
        </span>
        <div class="video"></div>
        <div class="captions w-100 text-center position-absolute px-3">
            <h2 class="text text--size--1-5 text--color--gray text--w--bold text-uppercase mb-0">{{cont_video_title}}</h2>
            {{#if cont_video_subtitle}}
                <p class="text text--color--gray text-uppercase">{{cont_video_subtitle}}</p>
            {{/if}}
        </div>
        <div class="data d-flex flex-wrap justify-content-between">
            <p class="btn btn--round btn--round--small text text--color--white mb-0">{{cont_video_roll}}</p>
            <p class="btn btn--round btn--round--small text text--color--white mb-0">{{cont_video_time}}</p>
        </div>
    </div>

    <div class="b-video__info {{custom_b_video_info}}">
        <span class="b-video__info--number text text--size--2-5 col-auto pl-0 pr-2">01</span>
        <p class="text text--size--1-2 text--w--light col-9 pl-2 pr-0 mb-0">Classifications of Items, GL Code, Category and Family</p>
    </div>
</div>