.b-video {
	cursor: pointer;

	.video {
		height: 20vh;
		overflow: hidden;
	}

	&__info,
	&__vid {
		@include border-radius(0.5rem);

		@extend %transform_05;

		box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
		-webkit-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
		-moz-box-shadow: 0 0 12px 0 hsla(0, 0%, 57.3%, 0.5);
	}

	&__vid {
		.check {
			@include border-radius(100%);

			top: 0.3rem;
			right: 0.3rem;
			background-color: $color_white;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
			line-height: 1.5rem;
		}

		.captions {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.data {
			.btn {
				background-color: $color_green;
				&:last-child { background-color: $color_blue_light; }
			}
		}
	}

	&__info {
		background-color: white;
		&--number { border-right: 1px solid $color_gray; }
	}

	&--checked {
		.b-video {
			&__vid {
				.check { background-color: $color_orange; }

				.data {
					.btn { background-color: $color_orange; }
				}
			}

			&__info {
				background-color: $color_orange;
				&--number { border-right-color: $color_white; }
				.text { color: $color_white; }
			}
		}
	}

	&:hover {
		.b-video {
			&__vid,
			&__info {
				box-shadow: 0 0 15px 0 hsla(0, 0%, 50%, 1);
				-webkit-box-shadow: 0 0 15px 0 hsla(0, 0%, 50%, 1);
				-moz-box-shadow: 0 0 15px 0 hsla(0, 0%, 50%, 1);
			}
		}
	}
}
