// colors //

$color_orange:			#f7931e;
$color_green:			#00a99d;
$color_green_action:	#a8e25d;
$color_green_light:		#c5e29f;
$color_blue:			#005988;
$color_blue_gray:		#51606d;
$color_blue_light:		#007bff;
$color_blue_dark:		#002641;
$color_black:			black;
$color_white:			white;
$color_ice:				#f8f9fa;
$color_gray:			#76797b;
$color_gray_light:		#d6d6d6;

// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$font_01: 'Roboto Condensed', sans-serif;

// artefacts, mixins //

%general_shadow {
	box-shadow: 7px 7px 20px 0 rgba(50, 50, 50, 0.32);

	&:hover {
		box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.5);
	}
}

%transform_025 { transition: all 0.25s ease; }
%transform_05 { transition: all 0.5s ease; }
%transform_07 { transition: all 0.7s ease; }
%transform_1 { transition: all 1s ease; }
%transform_2 { transition: all 2s ease; }
%transform_3 { transition: all 3s ease; }
%transform_4 { transition: all 4s ease; }
%transform_5 { transition: all 5s ease; }

%after-before-bas {
	content: ' ';
	position: absolute;
}

@mixin linear-gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin breakpoint($point) {
	@if $point == cero {
		@media (min-width: 0) { @content ; }
	}

	@if $point == mobile {
		@media (min-width: 540px) { @content ; }
	}

	@else if $point == tablet {
		@media (min-width: 720px) { @content ; }
	}

	@else if $point == desktop {
		@media (min-width: 960px) { @content ; }
	}

	@else if $point == extra {
		@media (min-width: 1140px) { @content ; }
	}

	@else if $point == mega {
		@media (min-width: 1400px) { @content ; }
	}
}

// body

body {
	font-size: 16px;
	font-family: $font_01;
}

// text

.text {
	font-family: $font_01;
	font-size: 1rem;

	&.text {
		&--size {
			&--1 {
				font-size: 1rem;
				&-2 { font-size: 1.2rem; }
				&-5 { font-size: 1.5rem; }
			}

			&--2 {
				font-size: 2rem;
				&-5 { font-size: 2.5rem; }
			}
			&--3 { font-size: 3rem; }
		}

		&--w {
			&--bold { font-weight: 700; }
			&--light { font-weight: 300; }
		}

		&--color {
			&--orange { color: $color_orange; }
			&--green { color: $color_green; }
			&--green_action { color: $color_green_action; }
			&--green_light { color: $color_green_light; }
			&--blue { color: $color_blue; }
			&--blue_gray { color: $color_blue_gray; }
			&--blue_light { color: $color_blue_light; }
			&--blue_dark { color: $color_blue_dark; }
			&--black { color: $color_black; }
			&--white { color: $color_white; }
			&--ice { color: $color_ice; }
			&--gray { color: $color_gray; }
		}
	}
}

// icon

.icon {
	&.icon {
		&--size {
			&--1 {
				font-size: 1rem;
				&-2 { font-size: 1.2rem; }
				&-5 { font-size: 1.5rem; }
			}
			&--2 { font-size: 2rem; }
			&--3 { font-size: 3rem; }
		}

		&--color {
			&--orange { color: $color_orange; }
			&--green { color: $color_green; }
			&--green_action { color: $color_green_action; }
			&--green_light { color: $color_green_light; }
			&--blue { color: $color_blue; }
			&--blue_gray { color: $color_blue_gray; }
			&--blue_light { color: $color_blue_light; }
			&--blue_dark { color: $color_blue_dark; }
			&--black { color: $color_black; }
			&--white { color: $color_white; }
			&--ice { color: $color_ice; }
		}
	}
}

// btn

.btn {
	@extend %transform_05;

	&.btn {
		&--round {
			@include border-radius(1rem);

			&--small {
				font-size: 0.7rem;
				padding: 0.1rem 0.5rem;
			}
		}

		&--color {
			&--orange { background-color: $color_orange; }
			&--green { background-color: $color_green; }
			&--green_action { background-color: $color_green_action; }
			&--green_light { background-color: $color_green_light; }
			&--blue { background-color: $color_blue; }
			&--blue_gray { background-color: $color_blue_gray; }
			&--blue_light { background-color: $color_blue_light; }
			&--blue_dark { color: $color_blue_dark; }
			&--black { background-color: $color_black; }
			&--white { background-color: $color_white; }
			&--ice { background-color: $color_ice; }
		}

		&--reset {
			@include border-radius(0);

			padding: 0;
		}

		&--solid {
			@include border-radius(0.3rem);
			&:hover { opacity: 0.85; }
		}
	}
}

// boards

.boards {
	@include border-radius(1rem);
}

.img {
	&.img {
		&--auto { object-fit: cover; }
		&--contain { object-fit: contain; }
		&--w { width: 100%; }
		&--h { height: 100vh; }
	}
}

// position

.position {
	&.position {
		&--z {
			&-1 { z-index: 1000; }
			&-2 { z-index: 2000; }
			&-3 { z-index: 3000; }
			&-4 { z-index: 4000; }
			&-5 { z-index: 5000; }
		}
	}
}

// bg

.bg {
	&.bg {
		&--color {
			&--orange { background-color: $color_orange; }
			&--green { background-color: $color_green; }
			&--green_action { background-color: $color_green_action; }
			&--green_light { background-color: $color_green_light; }
			&--blue { background-color: $color_blue; }
			&--blue_gray { background-color: $color_blue_gray; }
			&--blue_light { background-color: $color_blue_light; }
			&--blue_dark { background-color: $color_blue_dark; }
			&--black { background-color: $color_black; }
			&--white { background-color: $color_white; }
			&--ice { background-color: $color_ice; }
		}

		&--image {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			&--repeat { background-repeat: repeat; }
		}
	}
}

// wrapper

.general-wrapper {
	margin-top: 4.5rem;

	&--row {
		position: relative;

		&::after {
			@extend %after-before-bas;
			@extend %transform_07;

			width: 100%;
			height: 0;
			bottom: 0;
			background-color: rgba($color_white, 0.7);
			z-index: 2;

			@include breakpoint(desktop) { display: none; }
		}
	}
}

// open menu

.open {
	&-menu {
		overflow: hidden;

		@include breakpoint(desktop) { overflow: initial; }

		.general-wrapper {
			&--row {
				&::after { height: 100%; }
			}
		}
	}
}

// form

.c-form {
	.form {
		&-control { 
			@include border-radius(0);

			border: none;
			border-bottom: 1px solid $color_blue_gray;

			&.btn {
				@include border-radius(.3rem);
				border: none;
				width: auto;
				height: auto;
			}
		}
	}
}

// list

.list {
	list-style: none;
}
