<div class="s-options {{custom_s_options_class}}">
    {{#if cont_options_title}}
        <h2 class="text text--size--2 col-12 col-md-auto px-0 text-center mb-lg-0">{{cont_options_title}}</h2>
    {{/if}}
    <div class="d-flex flex-wrap col-12 col-lg-auto px-0 justify-content-center justify-content-md-start mt-md-3 mt-lg-0 ml-lg-auto align-items-md-center">
        <p class="text mb-md-0 mr-md-3 d-md-flex">Please select an option</p>
        <div class="actions">
            <button class="btn btn--solid btn--color--orange">
                <i class="icon icon--color--white fas fa-box"></i>
                <span class="text text--color--white text--w--light">Create Bundle</span>
            </button>
            <button class="btn btn--solid btn--color--green" id="options-open">
                <i class="icon icon--color--white fas fa-play-circle"></i>
                <span class="text text--color--white text--w--light">Assign Videos</span>
            </button>
            <button class="btn btn--solid btn--color--blue">
                <i class="icon icon--color--white fas fa-search"></i>
            </button>
        </div>
    </div>
</div>