.open {
    &-options {
        .s-create {
            height: auto;
            opacity: 1;
            margin-bottom: 3rem;
            padding: 1rem;
        }
        .s-options {
            .actions {
                .btn--color--orange { opacity: .7;}
            }
        }
    }
}