{{#if cont_filter}}
    <div class="c-filter {{custom_c_filter_class}}">
        <div class="form-group d-flex flex-wrap align-items-center">
            <label for="" class="text text--w--light mb-0 d-flex col-4 col-md-2 col-lg-auto px-0">{{cont_filter}}</label>
            <select name="" id="" class="form-control col-8 col-md-10 col-lg-3 ml-lg-3">
                <option value="Any">Any</option>
                <option value="Item 1">Item 1</option>
                <option value="Item 2">Item 2</option>
                <option value="Item 3">Item 3</option>
                <option value="Item 4">Item 4</option>
                <option value="Item 5">Item 5</option>
                <option value="Item 6">Item 6</option>
            </select>
        </div>
    </div>
{{/if}}